body, html {
    margin: 0;
    padding: 0;
  }

/*header*/
.logo-container, .menu-item{
    margin-left: 6%;
    margin-right: 6%;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-row{
    margin-right:12%;
}

.search-bar-row{
    width: 450px;
}

.search-bar-row {
    display: flex; 
    margin-right: 4%;
}


#frm-search {
    width: 100%;
    display: flex; 
    align-items: center; 
}

#frm-search input[type="text"] {
    border-color: #3F79FF;
    border-width: 1px;
    border-radius: 2%;
    margin-right: -1px;
    height: 40px;
}

#frm-search button {
    background-color: #2B80DD;
    border:none;
    cursor: pointer; 
    width: 40px;
    height: 40px;
}

.search-box{
    width:100%;
}

.account-row{
    margin-right: 5%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-row a{
    text-decoration: none;
}



.cart-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.cart-row a{
    text-decoration: none;
}




/*phan menu cua header*/ 

.menu-container{
    background-color: #2B80DD;
    padding: 12px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
}

.menu-box a{
    text-decoration: none;
    color: white;
}

.container-fluid{
    background-color: #2B80DD;
    padding: 10px;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

.nav-item a{
    text-decoration: none;
    color:gold;
}

